aiohappyeyeballs
aiohttp
aiosignal
async-timeout
attrs
captcha
certifi
charset-normalizer
colorama
discord.py
frozenlist
idna
jsonschema
jsonschema-specifications
multidict
pillow
psutil
pyrsistent
python-dotenv
pytimeparse
referencing
rpds-py
sentry-sdk
urllib3
yarl
